/* Parcoursup custom */
.green {
	color: green;
}

.red {
	color: red;
}

.number-step {
	font-size: 2em;
	display: flex;
}

.step {
	align-items: center;
}

/* From Vaadin example */
html {
	height: auto;
	--main-layout-header-height: 64px;
	background-color: transparent !important;
}

body {
	background-color: var(--lumo-contrast-5pct);
}

label {
	margin-top: 0;
}

.main-layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	max-width: 80%;
	margin: 0 auto;
}

.main-layout__title {
	font-size: 1em;
	margin: 0;
	width: 0;
	line-height: 1;
	letter-spacing: -0.02em;
	font-weight: 500;
}

.main-layout>* {
	flex: auto;
}

.main-layout__header {
	display: flex;
	flex: none;
	align-items: center;
	height: var(--main-layout-header-height);
	margin: 0 calc(-50vw + 50%);
	padding: 0 calc(50vw - 50% + 16px);
	background-color: var(--lumo-base-color);
	box-shadow: 0 1px 0 0 var(--lumo-contrast-5pct);
}

.main-layout__nav {
	display: flex;
	flex: 1;
	justify-content: center;
}

.main-layout__nav-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 4px 8px;
	cursor: pointer;
	transition: 0.3s color, 0.3s transform;
	will-change: transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: var(--lumo-font-size-s);
	color: var(--lumo-secondary-text-color);
	font-weight: 500;
	line-height: 1.3;
}

.main-layout__nav-item:hover {
	text-decoration: none;
}

.main-layout__nav-item:not ([highlight] ):hover {
	color: inherit;
}

.main-layout__nav-item[highlight] {
	color: var(--lumo-primary-text-color);
	cursor: default;
}

.main-layout__nav-item iron-icon {
	padding: 4px;
	box-sizing: border-box;
	pointer-events: none;
}